* {
  margin: 0;
  padding: 0;
}
.wrap {
  min-height: 100vh;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
}
