.card {
  display: flex;
  align-items: center;
  padding: 8px;

  & + & {
    border-top: 1px solid #bebebe;
  }
}

.image {
  width: 50px;
  object-fit: cover;
}

.container {
  margin-top: 100px;
  border-radius: 8px;
  background: #fff;
}
